.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;
}
.gallery img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius:8px ;
    transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.03);
}
