.pag-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



.pag-container button {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.pag-container button.active {
    background: black;
    color: white;
}