#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/1;
   height:  20rem;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
}
.light {
  background: white;
  color: black;
}

.dark {
  background: #121212;
  color: white;
}

